<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="user" value="Adhitya"></parameter>
    <test verbose="2" preserve-order="true" name="D:/SQA/Java/1/AdhityaDharmawanS/src/test/java/ujiandua">
        <classes>
            <class name="ujiandua.TestAccount">
                <methods>
                    <include name="deposit"/>
                    <include name="withdraw"/>
                    <include name="checkBalance"/>
                    <include name="dislpay"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>